.loading{
  padding-top: 50px;
  height: calc(100vh - 86px - 10vh);
  text-align: center;
}

.hero{
  height: calc(100vh - 86px - 15vh);
  display: flex;
  gap: 20px;
  justify-self: center;
  align-items: flex-start;
  padding-top: 15vh;

  & main{
    max-width: 400px;
    display: flex;
    flex-direction: column;

    & h2{
      font-size: clamp(22px, 2.6vw, 38px);

      .myname-span{
        font-size: clamp(28px, 3.4vw, 48px);
        color: #b97a46;
      }
    }
    & h3{
      color: hsl(27, 39%, 73%, 0.8);
      font-size: clamp(16px, 1.5vw, 30px);
    }
  }
  
  .profile-pic{
    margin-top: 5px;
    border-radius: 20px;
    width: 132px;
  }
}

.arrowDown{
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 70%;

  transition: all 0.2s ease-in-out;
  &:hover{
    scale: 1.2;
  }
  &:active{
    scale: 0.9;
  }
}

@media (max-width: 480px) {
  .hero{
    align-items: center;
    flex-direction: column;

    main{
      h2, h3{
        text-align: center;
      }
    }
  }

  .arrowDown{
    top: 80%;
  }
}