.contact{
  margin-top: 150px;
  margin-bottom: 50px;

  & h2{
    margin-bottom: 10px;
    text-align: center;
    color: #d29e73;
    font-size: 28px;
  }

  & h3{
    text-align: center;
  }

  .region{
    color: #d29e73;
    margin-bottom: 40px;
  }

  .contacts{
    display: flex;
    gap: 15px 25px;
    align-items: center;
    justify-content: center;

    .contact-btn{
      cursor: pointer;
      padding: 15px;
      background-color: transparent;
      border: 2px solid;
      border-radius: 10px;

      transition: scale 0.2s ease-in-out;

      &:hover{
        scale: 1.1;
      }

      &[data-name="mail"]{
        border-color: #c63d3d;
        & svg{color: #c63d3d;}}
      &[data-name="telegram"]{
        border-color: #2ca6e2;
        & svg{color: #2ca6e2f4;}}
      &[data-name="github"]{
        border-color: #d7c0c0;
        & svg{color: #d7c0c0;}}
    }
  }

  .mailText{
    margin-top: 20px;
  }
}