header{
  position: sticky;
  top: 0px;
  background: rgba(0, 0, 0, 0.05); 
  backdrop-filter: blur(50px); 
  -webkit-backdrop-filter: blur(10px); 
  z-index: 100;


  display: flex;
  padding: 5px 30px;

  & h1{
    margin: 0
  }

  .navbar{
    display: flex;
    gap: 10px 20px;
    margin-left: auto;
    align-items: center;
  }
}