.react-tooltip {
  z-index: 999;
  max-width: 500px !important;
  background-color: hsl(0, 0%, 6%) !important;
  padding: 4px 6px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  transition: opacity 0.25s ease !important;
}

.react-tooltip-arrow{
  display: none;
}