:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color: #d4b69e;
  background-color: #131212;
}

html{
  scroll-behavior: smooth;
  scroll-padding: 50px;
}

svg{
  vertical-align: -2px;
}

a {
  font-weight: 500;
  color: #a08c7c;
  text-decoration: inherit;
}

a:hover {
  color: #dec2ac;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

h1, h2, h3{
  margin: 0;
}

p{
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

